.chat {
  flex: 0.65;
}

.chat__body {
  flex: 1;
  background-image: url('https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png');
  background-repeat: repeat;
  background-position: center;
  overflow: auto;
  padding: 30px;
}

.chat__message {
  width: fit-content;
}